<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>mvc</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
    <welcome-file>phones</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>You should be logged in to see phones</display-name>
    <web-resource-collection>
      <web-resource-name>phones</web-resource-name>
      <description></description>
      <url-pattern>/phones</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>admin_role</role-name>
      <role-name>user_role</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>You must be an admin</display-name>
    <web-resource-collection>
      <web-resource-name>users</web-resource-name>
      <description></description>
      <url-pattern>/users</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>admin_role</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>security_realm</realm-name>
    <form-login-config>
      <form-login-page>/login</form-login-page>
      <form-error-page>/login?Retry=true</form-error-page>
    </form-login-config>
  </login-config>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <security-role>
    <description></description>
    <role-name>admin_role</role-name>
  </security-role>
  <security-role>
    <description></description>
    <role-name>user_role</role-name>
  </security-role>
  <error-page>
    <error-code>403</error-code>
    <location>/Views/auth/accessRestricted.html</location>
  </error-page>
  <resource-ref>
    <res-ref-name>security_resource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
</web-app>